@charset "UTF-8";

/* 大内宿の詳細ページのcss */
.front_ohuchi {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://stat.ameba.jp/user_images/20170111/17/kofupan/96/99/j/o1280085313843191196.jpg?caw=800");
  background-size: cover;
  background-position: center;
}

.front_ohuchi p{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family :Quicksand, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  font-family: "Hannari";
}
